.brief{
    height: 100%;
    overflow: hidden;
}
.desc{
    color: #e1e1e1;
    height: 150px;
    padding:10px;
    display: flex;
    position: relative;
}
.lyric{
    height: 100%;
    overflow: hidden;
    padding:0 10px;
}
.desc img{
    height: 100%;
    width: 150px;
}
.desc img+div{
    margin-left: 10px;
    display: table;
    height: 100%;
    overflow: hidden;
}
.desc .bold{
    font-weight: bold;
}
.desc .font-22{
    font-size: 22px;
}
.desc .tr{
    display: table-row;
}
.desc .td{
    display: table-cell;
    font-size: 14px;
}
.brief_box{
    height: 100%;
    display: table;
    padding-top: 20px;
}
.lyric .ul{
    display: inline-block;
    height: 66%;
    overflow: auto;
    margin: 0;
    color: white;
    width: 100%;
    opacity: 0.6;
    cursor: default;
    padding: 5px 0 0 0;
}
.lyric .ul p{
    font-size: 20px;
}
/* 
.lyric .li{
    height: 25px;
    font-size: 20px;
    padding-top: 5px;
    display: inline-flex;
    width: 100%;
    overflow: auto;
    margin-right: 5px;
    justify-content: center;
}

@keyframes lyric-cycle{
    0%{
        transform:translate(100px,0);
        -webkit-transform: translate(100px, 0);
    }
    100%{
        transform: translate(calc(-100px - 100%),0);
        -webkit-transform: translate(calc(-100px - 100%),0);
    }
} */