@import url("../css/range.css");

:root {
    --primary-color: rgba(24, 19, 19, 0.8);
    --secondary-color: rgba(36, 151, 227,1);
    --background-color: rgba(34, 33, 38, 1);
  }
body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html{
    width: 100%;
    height: 100%;
}

.material-icons.md-footer{
    font-size: 32px;
}



.hide{
    visibility: hidden !important;
    opacity: 0 !important;
}

.remove{
    display: none !important;
}


button {
    background: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 4px;
    border: none;
    outline: none;
    white-space: nowrap;
    font-weight: 500;
    vertical-align: middle;
    margin: 5px;
    -webkit-app-region:no-drag;
    
}

button:hover {
    color: white;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .2s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}


.content_content{
    width: 100%;
    height: 100%;
    -webkit-app-region:drag;
    background:linear-gradient(rgba(24, 19, 19, 0.9) 0%, var(--background-color) 80%);
}