body{
    margin: 0;
}

:root {
    --mdc-theme-primary: #9c27b0;
    --mdc-theme-secondary: #ffab40;
    --mdc-theme-background: #fff;
  }

.hide{
    visibility: hidden !important;
    opacity: 0 !important;
}

.mdc-icon-button:not(.mdc-ripple-upgraded):focus::before, .mdc-icon-button.mdc-ripple-upgraded--background-focused::before{
    opacity: 0;
}

#footer_content{
    position: fixed;
    height: 10%;
    min-height: 70px;
    width: 100%;
    bottom: 0;
}

.footer{
    display: flex;
    height: 100%;
    background-color: rgba(24, 19, 19, 0.8);
    color: white;
}

.footer>div{
    flex: 1;
}
.footer>div:nth-child(4){
    flex: 5;
}

.control.center{
    align-self: center;
    display: flex;
    justify-content: center;
}
