@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
.playlist td:nth-of-type(2) div{
    -webkit-animation: 5s rowup linear infinite normal;
    animation: 5s rowup linear infinite normal;
}